@import "../../../styles/base";

.step-3 {
  flex-wrap: wrap;
  margin: 3rem auto;
  max-width: 320px;
  @include center;

  p {
    font-size: 1.5rem;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
  }

  @media (min-width: 991px) {
    max-width: 600px;
  }

  .options {
    margin-top: 3rem;

    .btn-container {
      align-items: center;
      display: flex;
      margin-top: 2rem;
      justify-content: space-evenly;

      button {
        cursor: pointer;
        font-weight: bold;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
    }
  }
}
