@import "../../styles/base";

.main {
  align-items: center;
  color: $main-color;
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  height: 100vh;
  justify-content: center;
  letter-spacing: 2px;
  padding: 1rem;
  text-align: center;

  .btn {
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
