@import "../../../styles/base";

.result {
  margin: 3rem;
  min-height: 57px;
  text-transform: uppercase;
  @include center;

  h3 {
    border: 1px solid $main-color;
    border-radius: 5px;
    letter-spacing: 5px;
    padding: 1rem;
  }
}

.step-2 {
  flex-wrap: wrap;
  margin: 3rem auto;
  max-width: 320px;
  @include center;

  @media (min-width: 991px) {
    justify-content: space-between;
    max-width: 600px;
  }
}
